[mysqld]
query_cache_type=0
query_cache_size = 64M
innodb_buffer_pool_size = 256M
innodb_additional_mem_pool_size = 8M

#binlog
server_id = 100
log_slave_updates
max_binlog_size = 512M
binlog_format = ROW
expire_logs_days = 10
sync_binlog = 1
relay_log = mysql-relay-bin
log_bin			= /var/log/mysql/bin.log
log-bin-index = /var/log/mysql/bin-log.index

